*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
section
{
    margin: 0 auto;
    width:67% ;
    height:100vh ;
}
section .imgBx img{
    object-position:0px;
    border-radius: px;
    display: inline-block;
    float:right;
    margin-top: 24px;
    height: 569px;

}
.imgBx h1{
    position: absolute;
    color: white;
    bottom: 199px;
    right: 406px;
    font-size: 33px;
}
.imgBx h2{
    position: absolute;
    color: white;
    bottom: 168px;
    right: 455px;
    font-size: 33px;
   margin-top: 35px;
   margin-top: 40px;
}
.imgBx p{
    position: absolute;
    color: gray;
    bottom: 119px;
    right: 337px;
   margin-top: 35px;
   margin-top: 40px;
} 
.container {
    display: inline-block;
    width: 50%;
    height: 569px;
    border: 1px solid grey;
    padding: 40px 40px;
    float:left;
    margin-top: 33px;
    border-radius: px;
    background: transparent;
    margin-top:25px ;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 
}
.greeting h2{
    color:palevioletred;
}
.greeting p{
    text-align: center;
    padding: 10px 10px;
    font-size: 25px;
}
.container .box{
   position: relative;
   width: 100%;
   height: 80%;
   margin: 10px;
}
.box input{
    width: 90%;
    height: 30%;
    background: transparent;
    outline: none;
    border:2px solid rgb(228, 224, 224);
    border-radius: 7px;
    font-size: 16px;
    color: black;
    padding: 10px 14px 10px 20px;

}
.box input ::placeholder{
    color: black;
}
.box i{
    position: absolute;
    right:350px ;
    top:13px;
    font-size: 20px;
    color: black;
}
.container .forgot-password{
    text-align: left;
     margin: 10px;
    justify-content: space-between ;
    
}
.forgot-password label input{
    
    accent-color: blue;
}
.forgot-password a:hover{
    text-decoration: underline;
}
.forgot-password a{
    color: blue;
    text-decoration: none;
    right: 112px;
}
.container .btn{
    width: 90%;
    height: 30%;
    background: rgb(63, 63, 253);
    border-radius: 7px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border: lightgrey;
    padding:10px 14px 10px 20px ;
    text-align: center;
    margin: 10px;
}
.account p{
    text-align: center;
}
.account i{
    
    margin:2px ;
    position: relative;
    font-size: 20px;
    color: blue;
    margin-top: 20px;
    margin-left: 75px;
}
.create-account {
    text-align: center;
    margin-top: 15px;
    font-size: 0.8em;
    text-decoration: none;
}
.create-account a{
    text-decoration: none;
    color: blue;
}
.create-account :hover{
    text-decoration: underline;
}
.create-account p:hover{
    text-decoration: none;
}





